@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Questrial&display=swap');

/*  HTML CSS */
html,
body {
  width: 100%;
  height: 100%;

}

body > footer {
    position: sticky;
    top: 100vh;
}

/* https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page */
main {
  overflow-x: hidden;
  min-height: calc(100vh - 20vh);
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
  letter-spacing: 1.5px; 
  margin: 5px; 
}

p,
a,
button {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.push-container {
  height: 70vh;
  margin-top: 5vh;
}


.page-container {
  margin-top: 5rem;
}


/* LOGO  */
a.logo {
  width: 100px;
  height: 100px;
  background-size: 100px 90px;
  background-image: url(../images/casa-quest-logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-transform: capitalize;
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}


/*  NAVIGATION BAR*/

.custom-nav {
  background-color: #FAECD9;
  z-index: 500;
  position: fixed;
  top: 0;
}

nav ul:not(.dropdown-content)>li>a {
  font-size: 1rem;
  color: #17353B;
  display: block;
  padding: 0 15px;
  cursor: pointer;

}

.mobile-menu nav ul:not(.dropdown-content)>li>a {
  color:#FAECD9;
}

.mobile-menu nav ul:not(.dropdown-content)>li>a:hover{
  color:#004d40;
}

.mobile-nav {
  height: 0px;
}

.mobile-list {
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100vh;
  z-index: 300;
  background-color: #587E7B;
  transition: left .3s;
  display: none;
  padding-top: 70px;
  box-sizing: border-box;
}

.mobile-menu.open {
  margin-top: 50px;
  left: 70%;
  display: block;
  color: #17353B;
}


nav ul:not(.dropdown-content)>li>a:hover:not(.active) {
  background-color: rgba(88, 126, 123, 0.6)
}

.nav-link:hover{
  background-color: #FAECD9;
  color:#17353B;
}

.hovered {
  background-color: rgba(250,236,217, 0.4);
  color:#17353B;
}

/* inspired from The Great Wall of Gratitude https://github.com/VCGithubCode/Gratidudes */
/* Mobile menu trigger button */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 36px;
  height: 36px;
  margin-right: 15px;
  margin-top: 10px;
}

/* Trigger bars */
.hamburger span {
  display: block;
  background: #17353B;
  width: 100%;
  height: 5px;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

input:checked~.hamburger span:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}

input:checked~.hamburger span:nth-child(2) {
  opacity: 0;
}

input:checked~.hamburger span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}



/* FLASH MESSAGES */

aside.flash {
  margin-top: 65px;
  z-index: 600;
}



/* LANDING PAGE */
aside#hero-image {
  width: 100vw;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/hero-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-callout {
  text-align: center;
  color: #17353B;
  background-color: rgba(250, 236, 217, 0.7);
}


.callout-btn {
  border: 2px solid #17353B;
  border-radius: 15px;
  padding: 10px;
  background-color: #17353B;
  transition: .5s;
  color: #FAECD9
}

.callout-btn:hover {
  background-color: #FAECD9;
  color: #17353B;


}

.reverse-btn {
  border: 2px solid#FAECD9;
  border-radius: 15px;
  padding: 10px;
  background-color: #FAECD9;
  transition: .5s;
  color: #17353B;
}

.reverse-btn:hover {
  background-color:#17353B;
  color:  #FAECD9;
}


.hero-review {
  background-color: #FAECD9;
  padding: 40px;
  color: #333;

}

.hero-review h6 {
  font-weight: 700;
  color: #17353B;
}

.hero-review img {
  border-radius: 15px;

}


/*  HOUSE  */
input[type=file]::file-selector-button {
  border: 2px solid #17353B;
  border-radius: 15px;
  padding: 10px;
  background-color: #17353B;
  transition: 1s;
  color: #FAECD9
}

input[type=file]::file-selector-button:hover {
  background-color: #FAECD9;
  border: 2px solid #17353B;
  color: #17353B;
}


.house-image-container {
  width: auto;
  height: auto;

}

.house-image-container img{
  border-radius: 10px;
}


/*  Validation styles from materrialize */
/* label color */
.input-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.footer-container {
  background-color: #17353B;
  bottom: 0;
  padding: 1rem;
  min-height: 30vh;
  color: #FAECD9;
}

ul.social-media-icons {
  padding-inline-start: 0px;
}


.social-media-icons li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.social-media-icons i {
  color: #FAECD9;
  font-size: 30px;
}

.custom-card {
  background-color: #FAECD9;
  margin-bottom: 5rem;
}

.link {
  text-decoration: underline;
  color: rgba(88, 126, 123, 0.6);
  font-weight: bolder;
}

iframe {
  width:100%;
  height:100%;
  border-radius: 15px;
  border:#004d40 ;
}

.house-container {
  background-color: #FAECD9;
  padding: 2rem;
}


.add-modal,.add-modal-view {
  width: 300px;
  height: 150px;
  border: 3px dashed rgba(88, 126, 123, 0.6);
  border-radius: 15px;
  font-family: "Questrial", sans-serif; 
  font-weight: bold;
  color: #17353B;
  position: relative;
}

.add-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.add-modal:hover {
  background-color:rgba(88, 126, 123, 0.3); 
}

.add-modal-view:hover {
  background-color: rgba(250,236,217, 0.4);
}

/* CONTACT PAGE */

#thank-you-feedback {
  display: none;
}

#no-card-display {
  display: none;
}


/* MEDIA QUERIES FOR RESPONSIVENESS */
@media screen and (max-width: 700px) {
  section.flash {
    margin-top: 40px;
  }
  .rooms {
    font-size: smaller;
  }
  .mobile-menu.open {
    left: 0;
    width: 100%;

  }
}


@media screen and (max-width: 450px) {
  main {
    min-height: 70vh;
  }
  .social-media-icons i {
    font-size: 15px;
    margin: 5px;
    
  }
  section.flash {
    margin-top: 50px;
  }
  .add-modal, .add-modal-view {
    width: 250px; 
  }
  

}

