a.logo {
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    background-image: url(../images/casa-quest-logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-transform: capitalize;
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transition: all .3s ease-in-out;
}

nav.mobile-nav{
    background-color: #FAECD9;
    display: block;
    color: #17353B;

}
.mobile-list {
    display: flex;
    flex-direction: column; 
}


nav.custom-nav{
    background-color: #FAECD9;
    color: #17353B;
    z-index: 500;
    position: fixed;
    top:0;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #17353B;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 30%;
    height: 100vh;
    z-index: 300;
    background-color: #587E7B;
    transition: left .3s;
    display: none;
    padding-top: 70px;
    box-sizing: border-box;
}
.mobile-menu.open {
    left: 70%;
    display:block;
}
/* inspired from The Great Wall of Gratitude https://github.com/VCGithubCode/Gratidudes */
/* Mobile menu trigger button */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 36px;
    height: 36px;
  }
  
/* Trigger bars */
.hamburger span {
    display: block;
    background: #17353B;
    width: 100%;
    height: 5px;
    transform-origin: center;
    transition: all 0.2s ease-in-out;
  }


input:checked~.hamburger span:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }
  
  input:checked~.hamburger span:nth-child(2) {
    opacity: 0;
  }
  
  input:checked~.hamburger span:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }

  section.flash {
    margin-top: 120px;
  }

  @media screen and (max-width: 400px) {
    .mobile-menu.open {
      left: 0;
      width: 100%;     
    }
  }