{% extends "base.html" %}
<!-- Title -->
{% block header %}
<title>{% block title %}404: Not found{% endblock %}</title>
{% endblock %}
<!-- Main Content -->
{% block content %}
<div class="container page-container center ">
    <div class="row p-5">
        <div class="col s12 card-panel teal darken-4 m8 offset-m2 center">
            <!-- Heading -->
            <div class="row mb-5">
                <div class="col s12 orange-text text-lighten-4">
                    <h3>404</h3>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col s12 orange-text text-lighten-2 ">
                    <h5>Lost in the Neighborhood!</h5>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col s12">
                    <p class="white-text">Looks like the page you're searching for is off the grid. Use the navigation
                        menu to
                        find your way back or head to our homepage. Happy house hunting! 🏡</p>
                </div>
            </div>
            <!-- Button back to home -->
            <div class="row mb-5">
                <div class="col s12 center">
                    <a class="btn orange lighten-4 teal-text text-darken-4 rounded waves-effect waves-light"
                        href="{{url_for('index')}}">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}