{% extends "base.html" %}
<!-- Title -->
{% block header %}
<title>{% block title %}Change Password{% endblock %}</title>
{% endblock %}
<!-- Main Content -->
{% block content %}
<div class="container page-container">
    <!-- Heading -->
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">Secure your password</h5>
        </div>
    </div>
    <!-- Change Password form validated using app.py -->
    <div class="row">
        <form class="card-panel custom-card col s12 m8 offset-m2 p-5" method="POST"
            action="{{ url_for('change_password') }}">
            <!-- current password -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                    <i class="material-icons suffix" onclick="togglePasswordVisibility('current_password')">visibility_off</i>
                    <input id="current_password" name="current_password" type="password" minlength="5"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required aria-required="true">
                    <label for="current_password">Current Password</label>
                </div>
            </div>
            <!-- new password -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                    <i class="material-icons suffix" onclick="togglePasswordVisibility('new_password')">visibility_off</i>
                    <input id="new_password" name="new_password" type="password" minlength="5"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required aria-required="true">
                    <label for="new_password">New Password</label>
                </div>
            </div>
            <!-- confirm new password -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                    <i class="material-icons suffix" onclick="togglePasswordVisibility('confirm_new_password')">visibility_off</i>
                    <input id="confirm_new_password" name="confirm_new_password" type="password" minlength="5"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required aria-required="true">
                    <label for="confirm_new_password">Confirm New Password</label>
                </div>
            </div>
            <!-- login -->
            <div class="row">
                <div class="col s12 center m-5">
                    <button type="submit" class="icon-right rounded waves-effect waves-light callout-btn text-shadow">
                        Change Password <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block javascript %}
  <script>
    // allow users to toggle password visibility
    // https://www.w3schools.com/howto/howto_js_toggle_password.asp
    function togglePasswordVisibility(inputId) {
        const inputField = document.getElementById(inputId);
        
        if (inputField.type === "password") {
            inputField.type = "text";
        } else {
            inputField.type = "password";
        }
    }
  </script>
{% endblock %}