{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ house.address }}

            </h3>
        </div>


    </div>
  
</div>
<div class="row">
    <div class="col">
        <button class="btn waves-effect waves-light" onclick="history.go(-1)">
            Back
        </button>
    </div>
</div>

<!-- house -->
<div class="row">
    <div class="col">
        <div class="card-panel teal">
            {{ house.address }} <br>
            <a href="#" class="btn waves-effect waves-light">
                Edit house
            </a>
        </div>
    </div>
</div>
<!-- house info -->
<div class="row">
    <div class="col">
        <div class="card-panel teal">
            {{ house_info.internet_speed }}<br>

            <a href="#" class="btn waves-effect waves-light">
                Add house info
            </a>
            <a href="#" class="btn waves-effect waves-light">
                Edit house info
            </a>
        </div>
    </div>
</div>


<!-- house checks -->
<div class="row">
    <div class="col">
        <div class="card-panel teal">
            {{ house_check.crack }}<br>

            <a href="#" class="btn waves-effect waves-light">
                Add house checks
            </a>
            <a href="#" class="btn waves-effect waves-light">
                Edit house checks
            </a>
        </div>
    </div>
</div>


<!-- house viewing -->
<div class="row">
    <div class="col">
        <div class="card-panel teal">
            {{ house_viewing.neighbours }}<br>
            <a href="#" class="btn waves-effect waves-light">
                Add house viewing
            </a>
            <a href="#" class="btn waves-effect waves-light">
                Edit house viewings
            </a>
        </div>
    </div>
</div>



{% endblock %}