{% extends "base.html" %}
{% block header %}
<!-- Title -->
<title>{% block title %}{{house.address}}{% endblock %}</title>
{% endblock %}
<!-- Main content -->
{% block content %}
<div class=" page-container">
    <!-- Button to go back to dashboard -->
    <div class="row mx-4">
        <div class="col s12">
            <a href="{{ url_for('profile', username=session['user']) }}"
                class="btn icon-left waves-effect waves-light teal darken-4 orange-text text-lighten-4"><i
                    class="material-icons">arrow_back</i>Back to Dashboard</a>
        </div>
    </div>
    <!-- House image -->
    <div class="row p-5">
        <div class="col s12 m6">
            <img src="{{house.image_url}}" class="responsive-img" alt="{{house.address}}">
        </div>
        <div class="col s12 m6 center m-2">
            <!-- House Address -->
            <div class="row">
                <div class="col s12">
                    <h3 class="center-align green-text text-darken-4">
                        {{ house.address }}
                    </h3>
                </div>
            </div>
            <!-- House Agency -->
            <div class="row">
                <div class="col s12">
                    <h5>{{ house.agency }} </h5>
                </div>
            </div>
            <!-- House Property Type -->
            <div class="col s12">
                <h6 class="center-align black-text text-darken-4">
                    {{ house.propertyType }}
                </h6>
            </div>
            <!-- House Price -->
            <div class="row">
                <div class="col s12">
                    <h6 class="center-align black-text text-darken-4">
                        £ {{ house.price }}
                    </h6>
                </div>
            </div>
            <!-- House Viewin -->
            <div class="row m-2">
                <div class="col s12">
                    <span><i class="fa-solid fa-calendar-days prefix"></i> {{ house.date_viewing }}</span>
                </div>

            </div>
        </div>

    </div>
    <!-- House bedrooms -->
    <div class="row teal darken-2 p-5">
        <div class="col s12 p-5">
            <div class="row">
                <div class="col s12 m6 orange-text text-lighten-5 center">
                    <div class="row m-4">
                        <div class="col s4">
                            <div class="row">
                                <!-- House bedrooms -->
                                <div class="col s12">
                                    <h1>{{ house.bedrooms }}</h1>

                                </div>
                                <div class="col s12">
                                    <h6 class="hide-on-small-only rooms">Bedrooms</h6>
                                    <span class="hide-on-med-and-up"><i class="fa-solid fa-bed fa-2x"></i></span>


                                </div>
                            </div>
                        </div>
                        <!-- Bathrooms -->
                        <div class="col s4">
                            <div class="row">
                                <div class="col s12">
                                    <h1>{{ house.bathrooms }}</h1>

                                </div>
                                <div class="col s12">
                                    <h6 class="hide-on-small-only rooms">Bathrooms</h6>
                                    <span class="hide-on-med-and-up"><i class="fa-solid fa-toilet fa-2x"></i></span>


                                </div>
                            </div>

                        </div>
                        <!-- Parking, only to show if there is parking -->
                        {% if house_info.dedicatedParking == "yes" %}
                        <div class="col s4">
                            <div class="row">
                                <div class="col s12">
                                    <h1>1</h1>

                                </div>
                                <div class="col s12">
                                    <h6 class="hide-on-small-only rooms">Parking</h6>
                                    <span class="hide-on-med-and-up"><i
                                            class="fa-solid fa-square-parking fa-2x"></i></span>

                                </div>
                            </div>
                        </div>


                        {% endif %}

                    </div>
                </div>
                <!-- Google maps Iframe -->
                <div class="col s12 m6">
                    <iframe src="{{house.mapsUrl}}" aria-label="map for {{house.address}}"></iframe>
                </div>

            </div>
        </div>

    </div>


    <!-- house info -->
    <div class="row house-container p-5">
        <div class="col s12 mx-4 ">
            <div class="row teal-text text-darken-4 center">
                <div class="col s12 right-align">
                    <div class="row">
                        <!-- Button for edit button  -->
                        <div class="col s1 offset-s11 ">
                            <a href="#editInfoModal"
                                class="center btn rounded waves-effect waves-light teal darken-4 orange-text text-lighten-4 p-1 modal-trigger"
                                id="edit-houseinfo-btn">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col s12 offset-m2" id="house-info">
                    <div class="row left-align">
                        <!-- House EPC -->
                        <div class="col s6 m6 m-3 ">
                            <span> <i class="medium material-icons orange-text text-darken-4">bolt</i></span>
                            <h6>EPC: <span class="house-info-content">{{ house_info.epc }}</span>
                            </h6>

                        </div>
                        <!-- Tax band -->
                        <div class="col s6 m6 m-3">
                            <span> <i class="medium material-icons orange-text text-darken-4">payments</i></span>
                            <h6>Tax Band: <span class="house-info-content">{{ house_info.taxBand }}</span>
                            </h6>

                        </div>
                    </div>
                    <div class="row left-align">
                        <!-- Flood risk -->
                        <div class="col s6 m6 m-3">
                            <span> <i class="medium material-icons orange-text text-darken-4">flood</i></span>
                            <h6>Flood Risk:<span class="house-info-content">{{ house_info.floodRisk }}</span>
                            </h6>
                        </div>
                        <!-- Internet Speed -->
                        <div class="col s6 m6 m-3">
                            <span><i class="medium material-icons orange-text text-darken-4">wifi</i></span>
                            <h6>Intenet Speed: <span class="house-info-content">{{ house_info.internetSpeed }}</span>
                            </h6>

                        </div>
                    </div>

                </div>
                <!-- Add Info modal -->
                <div class="col s12 p-2 mx-auto" id="add-house-info">
                    <a href="#addInfoModal" class="add-modal modal-trigger" id="add-houseinfo-btn">

                        <div class="add-modal-content teal-text text-darken-4">
                            <i class="small material-icons">add_circle_outline</i>
                            <p>Details of Your Dream Home</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- house viewing -->
    <div class="row my-4">
        <div class="col s12 m12 l6 mx-2">
            <div class="card-panel teal darken-2 row mx-auto">
                <div class="col s12 right-align">
                    <!-- Button for edit house viewing -->
                    <div class="row">
                        <div class="col s1 offset-s11 ">
                            <a href="#editHouseViewingModal"
                                class="center btn rounded waves-effect waves-light orange teal-text text-darken-4 p-1 modal-trigger"
                                id="edit-houseviewing-btn">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- House viewing content -->
                <div class="col s12" id="house-viewing">
                    <div class="row m-3">
                        <!-- Seller's situation -->
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4">The seller is...</h6>
                        </div>
                        <div class="col s12 center">
                            <p class="house-viewing-content white-text">{{ house_viewing.sellersSituation }}</p>

                        </div>
                    </div>
                    <!-- Neighbours situation -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4">The neighbours are...</h6>
                        </div>
                        <div class="col s12 center">
                            <p class="house-viewing-content white-text">{{ house_viewing.neighbours }}</p>

                        </div>
                    </div>
                    <div class="row m-3">
                        <!-- Facilities -->
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4">The facilities are...</h6>
                        </div>
                        <div class="col s12 center">
                            <p class="house-viewing-content white-text">{{ house_viewing.facilities }}</p>

                        </div>
                    </div>
                    <!-- Traffic -->
                    <div class="row m-3">
                        {% if house_viewing.traffic == 'No Traffic' %}
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4">There is no traffic <i
                                    class="fa-regular fa-face-smile"></i></h6>
                        </div>
                        {% else %}
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4">There is...</h6>
                        </div>
                        <div class="col s12 center">
                            <p class="house-viewing-content white-text">{{ house_viewing.traffic }}</p>

                        </div>
                        {% endif %}
                    </div>
                    <!-- Other offers -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            {% if house_viewing.otherOffers == "yes" %}
                            <h6 class="yellow-text text-lighten-4">There have been other offers made. <i
                                    class="fa-solid fa-circle-exclamation"></i></h6>
                            {% else %}
                            <h6 class="yellow-text text-lighten-4">No offers have been made yet</h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- windows -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            {% if house_viewing.windows == "yes" %}
                            <h6 class="yellow-text text-lighten-4">There windows are double-glazed <i
                                    class="fa-regular fa-face-smile"></i></h6>
                            {% else %}
                            <h6 class="yellow-text text-lighten-4">The windows are not double glazed <i
                                    class="fa-solid fa-circle-exclamation"></i></h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Add house viewing modal -->
                <div class="col s12 p-2 mx-auto">
                    <a href="#addHouseViewingModal" class="add-modal-view modal-trigger row center"
                        id="add-houseviewing-btn">
                        <div class="add-modal-content yellow-text text-lighten-4 col s12">
                            <i class="small material-icons">add_circle_outline</i>
                            <p>Share Your Viewing Experience</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- house checks -->
        <div class="col s12 m12 l6 mx-2">
            <div class="card-panel teal darken-2 row mx-auto">
                <div class="col s12 right-align">
                    <div class="row">
                        <!-- Edit house check button -->
                        <div class="col s1 offset-s11 ">
                            <a href="#editHouseCheckModal"
                                class="center btn rounded waves-effect waves-light orange teal-text text-darken-4 p-1 modal-trigger"
                                id="edit-housecheck-btn">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Property Facing -->
                <div class="col s12" id="house-check">
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4"><i class="fa-regular fa-sun"></i> The property is...
                            </h6>
                        </div>
                        <div class="col s12 center">
                            <p class="house-check-content white-text">{{ house_check.propertyFacing }}</p>

                        </div>
                    </div>
                    <!-- Condition of the rood -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4"> <span class="material-symbols-outlined">
                                    roofing
                                </span> The condition of the roof is...</h6>

                        </div>
                        <div class="col s12 center">
                            <p class="house-check-content white-text">{{ house_check.roofCondition }}</p>

                        </div>
                    </div>
                    <!-- storage space -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4"> The storage space is...</h6>
                        </div>
                        <div class="col s12 center">
                            <p class="house-check-content white-text">{{ house_check.storageSpace }}</p>

                        </div>
                    </div>
                    <!-- Noise pollution -->
                    <div class="row m-3">
                        {% if house_check.noisePollution == "Moderate Noise" %}
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4"> The outside can be noisy.</h6>

                        </div>
                        {% else %}
                        <div class="col s12 m-2">
                            <h6 class="yellow-text text-lighten-4"> The outside has...</h6>

                        </div>
                        <div class="col s12 center">
                            <p class="house-check-content white-text">{{ house_check.noisePollution }}</p>

                        </div>
                        {% endif %}
                    </div>
                    <!-- Attic Access -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            {% if house_check.atticAccess == "yes" %}
                            <h6 class="yellow-text text-lighten-4"> It is easy to access the attic <i
                                    class="fa-regular fa-face-smile"></i></h6>
                            {% else %}
                            <h6 class="yellow-text text-lighten-4"> It is not easy to access the attic </h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Electric Ports -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            {% if house_check.electricPorts == "yes" %}
                            <h6 class="yellow-text text-lighten-4"> There is a good amount of electric ports <i
                                    class="fa-regular fa-face-smile"></i></h6>
                            {% else %}
                            <h6 class="yellow-text text-lighten-4"> The are a limited amount of electric ports <i
                                    class="fa-solid fa-circle-exclamation"></i></h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Mould -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            {% if house_check.mould == "yes" %}
                            <h6 class="yellow-text text-lighten-4"> The are visible signs of mould. <i
                                    class="fa-solid fa-circle-exclamation"></i></h6>
                            {% else %}
                            <h6 class="yellow-text text-lighten-4"> There are no signs of mould. <i
                                    class="fa-regular fa-face-smile"></i></h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Damp -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            {% if house_check.damp == "yes" %}
                            <h6 class="yellow-text text-lighten-4"> The are visible signs of damp. <i
                                    class="fa-solid fa-circle-exclamation"></i></h6>
                            {% else %}
                            <h6 class="yellow-text text-lighten-4"> There are no signs of damp. <i
                                    class="fa-regular fa-face-smile"></i></h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Crack -->
                    <div class="row m-3">
                        <div class="col s12 m-2">
                            {% if house_check.crack == "yes" %}
                            <h6 class="yellow-text text-lighten-4"> The are visible signs of the wall cracking <i
                                    class="fa-solid fa-circle-exclamation"></i></h6>
                            {% else %}
                            <h6 class="yellow-text text-lighten-4"> There are no signs of wall cracking <i
                                    class="fa-regular fa-face-smile"></i></h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Add House Check Modal -->
                <div class="col s12 mx-auto p-2" id="add-house-check">
                    <a href="#addHouseCheckModal" class="add-modal-view modal-trigger row center"
                        id="add-housecheck-btn">
                        <div class="add-modal-content yellow-text text-lighten-4">
                            <i class="small material-icons col s12">add_circle_outline</i>
                            <p>Share Your Home Inspection Insights</p>
                        </div>
                    </a>


                </div>
            </div>
        </div>


    </div>

</div>

<!-- include all modals -->
{% include "partials/modals.html" %}


{% endblock %}
<!-- Script Tags -->
{% block javascript %}

<script src="{{ url_for('static', filename='js/house.js') }}">
</script>

{% endblock %}