     
{% extends "base.html" %}
{% block content %}
 <aside id="hero-image" class="center container">
    <div class="row p-5">
        <div class="col s12 m8 offset-m2 card-panel hero-callout mt-5">
          
            <h4> Your Shortcut to Dream Home Bliss</h4> 
            <p>Experience the ease of house hunting with Casa Quest! Our interactive checklist keeps you organized, letting you track property visits, jot down notes, and compare listings effortlessly. Say goodbye to overwhelm and hello to simplicity as Casa Quest empowers you to make informed decisions with confidence. Start your journey today!</p>
            <div class="row">
                <div class="col s12">
                    <button class="callout-btn"> Start Your Casa Quest Now</button>
                </div>
            </div>

                   
            
        </div>
    </div>
    
 </aside>
{% endblock %}