{% extends "base.html" %}
<!-- Title -->
{% block header %}
  <title>{% block title %}Log In{% endblock %}</title>
{% endblock %}
<!-- Main Content -->
{% block content %}
<div class="container page-container push-container">
    <!-- Heading -->
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">Continue Your Casa Adventure: Log In Here!</h5>
        </div>
    </div>
    <!-- If user does not have an account->Link to register page -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here?
                <a href="{{ url_for('register') }}" class="green-text text-darken-4 link">Register Account</a>
            </p>
        </div>
    </div>
    <!-- Login Form -->
    <div class="row">
        <form class="card-panel custom-card col s12 m8 offset-m2 p-5 mb-5" method="POST" action="{{ url_for('login') }}">        
            <!-- username -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-cog prefix green-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- passowrd -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- login -->
            <div class="row">
                <div class="col s12 center m-5">
                    <button type="submit" class="icon-right rounded waves-effect waves-light callout-btn text-shadow">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}