     {% extends "base.html" %}
     {% block content %}
     <section class="card-panel green lighten-5">
       <div class="row">
         <div class="col s12">
           <form action="{{ url_for('new_house') }}" method="POST" enctype="multipart/form-data">
             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">pin_drop</i>
                 <input id="address" name="address" type="text" class="validate">
                 <label for="addresss">Address</label>
               </div>
               <div class="input-field col s6">
                 <i class="material-icons prefix">people</i>
                 <input id="agency" name="agency" type="text" class="validate">
                 <label for="agency">Agency</label>
               </div>
             </div>

             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">location_city</i>
                 <select name="property_type" id="preoperty_type">
                   <option value="" disabled selected>Choose your option</option>
                   {% for type in types %}
                   <option value="{{ type }}">{{ type }}</option>
                   {% endfor %}
                 </select>
                 <label>Property Type</label>
               </div>
               <div class="input-field col s6">
                  <label for="chain_free">
                    <input name="chain_free" id="chain_free" type="checkbox" class="filled-in" checked="checked" />
                    <span><i class="fa-solid fa-link"></i> Chain Free</span>
                  </label>                  
               </div>
             </div>
             <div class="row">
               <div class="input-field col s6">
                 <i class="fa-solid fa-bed prefix"></i>
                 <input id="no_bedrooms" name="no_bedrooms" type="number" min="1" max="15" class="validate">
                 <label for="no_bedrooms">Bedrooms</label>
               </div>
               <div class="input-field col s6">
                 <i class="fa-solid fa-toilet prefix"></i>
                 <input id="no_bathrooms" name="no_bathrooms" type="number" min="1" max="7" class="validate">
                 <label for="no_bathrooms">Bathrooms</label>
               </div>
               <!-- add helper text -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fa-solid fa-sterling-sign prefix"></i>
                  <input id="house_price" name="house_price" type="number" class="validate" min="50000" step="10000">
                  <label for="house_price">Price</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <label for="date_viewing"><i class="fa-solid fa-calendar-days prefix"></i>Viewing Date:</label>                  
                  <input type="text" class="datepicker" id="date_viewing" name="date_viewing">
                </div>
              </div>
              <div class="row">               
                <div class="col">
                  <input accept="image/*" name="image-url" id="image-url" type="file" required>
                </div>
              </div>
              <div class="row center">
                <div class="col s12">
                  <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Save Property <i class="fas fa-plus-square right"></i>
                </button>
                </div>
              </div>
           </form>
         </div>
       </div>

     </section>
     {% endblock %}