{% extends "base.html" %}
{% block header %}
  <title>{% block title %}Add New Entry{% endblock %}</title>
{% endblock %}
{% block content %}
<section class="container page-container">
  <div class="row my-4">
    <div class="col s12 black-text">
      <h4 class="m-0">Expanding Horizons</h4>
      <p>Adding a New Entry to Your Dream Home Selection</p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col s12">
      <a href="{{ url_for('profile', username=session['user']) }}" class="btn icon-left waves-effect waves-light teal darken-4 orange-text text-lighten-4"><i class="material-icons">arrow_back</i>Back to Dashboard</a>
    </div>
  </div>
  <div class="card-panel custom-card row">
    <div class="col s12 p-4">
      <form action="{{ url_for('new_house') }}" method="POST" enctype="multipart/form-data" class="teal-text text-darken-4">
        <!-- input field for address of the house -->
        <div class="row">
          <div class="input-field col s12 m6 outlined m-3">
            <i class="material-icons prefix">pin_drop</i>
            <input id="address" name="address" type="text" class="validate" required>
            <label for="addresss">Address</label>
          </div>
          <!-- input field for agency -->
          <div class="input-field col s12 m6 outlined m-3">
            <i class="material-icons prefix">people</i>
            <input id="agency" name="agency" type="text" class="validate" required>
            <label for="agency">Agency</label>
          </div>
        </div>
        <!-- input field for property type -->
        <div class="row">
          <div class="input-field outlined col s12 m6 m-3">
            <i class="material-icons prefix">location_city</i>
            <select name="property_type" id="property_type" required>
              <option value="" disabled selected>Choose your option</option>
              {% for type in types %}
              <option value="{{ type }}">{{ type }}</option>
              {% endfor %}
            </select>
            <label>Property Type</label>
          </div>
          <!-- input field for chain free -->
          <div class="col s12 m6 m-3 center">
            <label for="chain_free">
              <input name="chain_free" id="chain_free" type="checkbox" class="filled-in" checked="checked"
                required />
              <span><i class="fa-solid fa-link"></i> Chain Free</span>
            </label>
          </div>
        </div>
        <!-- input field for number of bedrooms -->
        <div class="row">
          <div class="input-field outlined col s12 m6 m-3">
            <i class="fa-solid fa-bed prefix"></i>
            <input id="no_bedrooms" name="no_bedrooms" type="number" min="1" max="15" class="validate" required>
            <label for="no_bedrooms">Bedrooms</label>
          </div>
          <!-- input field for number of toilets -->
          <div class="input-field outlined col s12 m6 m-3">
            <i class="fa-solid fa-toilet prefix"></i>
            <input id="no_bathrooms" name="no_bathrooms" type="number" min="1" max="7" step=".5" class="validate"
              required>
            <label for="no_bathrooms">Bathrooms</label>
          </div>
          <!-- add helper text -->
        </div>
        <!-- input field for price -->
        <div class="row">
          <div class="input-field outlined col s12 m6 m-3">
            <i class="fa-solid fa-sterling-sign prefix"></i>
            <input id="house_price" name="house_price" type="number" class="validate" min="50000" step="10000"
              required>
            <label for="house_price">Price</label>
          </div>
          <!-- input field for date of viewing -->
          <div class="input-field col s12 m6 m-3">
            <i class="fa-solid fa-calendar-days prefix"></i>
            <input type="text" class="datepicker" id="date_viewing" name="date_viewing" required>
            <label for="date_viewing">Viewing date:</label>
          </div>
        </div>
  
        <!-- input field for file image upload -->
        <div class="row">
          <div class="col s12 m-3">
            <input accept="image/*" name="image-url" id="image-url" type="file" required>
  
          </div>
        </div>
  
        <!-- submit button -->
        <div class="row center">
          <div class="col s12 m-3">
            <button class="btn rounded icon-left waves-effect waves-light teal darken-4 orange-text text-lighten-4 m-2" type="submit">
              <i class="material-icons">add</i>Save Property
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script async src="https://maps.googleapis.com/maps/api/js?key={{maps_api}}&loading=async&libraries=places&callback=initAutocomplete">
</script>
<script> 
  let autocomplete;

  function initAutocomplete(){
    autocomplete = new google.maps.places.Autocomplete(
      document.getElementById("address"),
      {
        types: ['street_address', 'street_number'],
        fields: ["address_components"],
        componentRestrictions: { country: "uk" },

      }
    );
    autocomplete.addListener('place_changed', onPlaceChanged);
  }

  function onPlaceChanged() {
    let place = autocomplete.getPlace();

    if (!place.geometry){
      document.getElementById('address').placeholder = "Enter an address"
    } else {
      document.getElementById('address').value = place.name;
    }
  }
</script>


{% endblock %}