{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Future House
            </h3>
        </div>

    </div>
</div>
<div class="row">
    <div class="col s12 center">
        <a class="btn filled icon-right rounded waves-effect waves-light teal lighten-2" href="{{ url_for('new_house') }}">
        <i class="material-icons">add</i><span>Add new entry</span>
        </a>
    </div>
</div>

<div class="row">
    {% for house in houses %}
    <div class="col s12 card-panel teal lighten-2 white-text ">
        <div class="row">
            <div class="col s12 m6">
                <div class="house-image-container">
                    <image src="{{ house.image_url }}" class="responsive-img"></image>
                </div>
            </div>
            <div class="col s12 m6 m-3">
                <div class="row">
                    <div class="col s12 right-align">
                        <a class="waves-effect waves-light btn modal-trigger red rounded" href="#deleteModal{{house._id}}"><span class="material-symbols-outlined">
                            cancel
                            </span></a>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col s12">
                        <h4>{{ house.address }}</h4>
                        
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col s12">
                        <span> Agency: </span>
                        {{ house.agency }}
                    </div>
        
                </div>
                <div class="row m-2">
                    <div class="col s12">
                        {{ house.propertyType }}
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col s6">
                        <span><i class="fa-solid fa-bed prefix"></i></span>
                        {{ house.bedrooms }}
                    </div>
                    <div class="col s6">
                        <span><i class="fa-solid fa-toilet prefix"></i></span>
                        {{ house.bathrooms }}
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col s12">
                        <span>Chain Free:</span>
                        {{ house.chainFree }}
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col s12">
                       <span>£</span> {{ house.price }}
                    </div>       
                </div>
                
                
                
                <div class="row m-2">
                    <div class="col s6 center">
                        <a href="{{ url_for('view_house', house_id=house._id) }}" class="btn white black-text rounded waves-effect waves-ligh">View More</a>
                    </div>
                    <div class="col s6">
                        <a href="{{ url_for('edit_new_house', house_id=house._id) }}" class="btn white black-text filled icon-right rounded waves-effect waves-light">
                            <i class="material-icons">edit</i>Update
                          </a>
                          
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <div id="deleteModal{{ house._id }}" class="modal card-panel rounded white-text center">
     
        <div class="modal-content rounded">
            <div class="row">
                <div class="col s12 red-text">
                    <h4>Caution</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12 black-text">
                    <p>Deleting the house will also delete all other informaion related to this house. If you wish to proceed, click the button below or cancel</p>
                </div>
        
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s12 center">
                    <form action="{{ url_for('delete_house', username=username, house_id=house._id) }}" method="POST">
                        <button class="modal-close btn waves-effect rounded red m-2">Delete</button>
                        <a href="#" class="modal-close btn waves-effect rounded orange m-2" type="button">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
      </div>
              
    {% endfor %}

</div>

{% endblock %}