{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>

    </div>
</div>
<div class="row">
    <div class="col">
        <a href="{{ url_for('new_house') }}" class="btn waves-effect waves-light" type="submit" name="action">Add new entry
            <i class="material-icons right"></i>
          </a>
    </div>
</div>

<div class="row">
    {% for house in houses %}
    <div class="col s6 card-panel teal lighten-2 m4">

        <div class="row">
            <div class="col">
                {{ house.address }}
            </div>

        </div>
        <div class="row">
            <div class="col">
                {{ house.agency }}
            </div>

        </div>
        <div class="row">
            <div class="col">
                {{ house.price }}
            </div>

        </div>
        <div class="row">
            <div class="col">
                <a href="{{ url_for('view_house', house_id=house._id) }}" class="btn white black-text">View More</a>
            </div>
        </div>


        
        
    </div>
    {% endfor %}

</div>

{% endblock %}