{% extends "base.html" %}
<!-- TITLE -->
{% block header %}
<title>{% block title %}Dashboard{% endblock %}</title>
{% endblock %}
<!-- Main container -->
{% block content %}
<div class="container page-container">
    <div class="row">
        <!-- Username heading -->
        <div class="col s12 m8 offset-m2">
            <div class="card-panel teal darken-4">

                <h4 class="center-align orange-text text-lighten-5">
                    {{ username }}'s Dream Home Hub
                </h4>
                <p class="center-align orange-text text-lighten-5"> Saved Properties Awaiting Exploration!</p>
            </div>

        </div>
    </div>
    <!-- Add new enty button -->
    <div class="row">
        <div class="col s12 my-4 center">
            <a class="btn icon-right rounded waves-effect waves-light teal darken-4 orange-text text-lighten-5"
                href="{{ url_for('new_house') }}">
                <i class="material-icons">add</i><span>Add new entry</span>
            </a>
        </div>
    </div>

    <!-- Houses card -->
    <div class="row">
        {% for house in houses %}
        <div class="col s12 card-panel custom-card ">
            <!-- If systemadmin, to show who created the post -->
            {% if username == "systemadmin" %}
            <div class="row">
                <div class="col s12">
                    <h6>Created By: {{house.username}}</h6>
                </div>
            </div>
            {% endif %}
            <!-- Image of the house -->
            <div class="row">
                <div class="col s12 m5">
                    <div class="row">
                        <div class="col s12 house-image-container">
                            <img src="{{ house.image_url }}" class="responsive-img" alt="{{house.address}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <h6>{{ house.agency }}</h6>
                        </div>

                    </div>
                </div>
                <!-- Address of the house -->
                <div class="col s12 m6 m-3">
                    <div class="row mb-0">
                        <div class="col s12">
                            <h4>{{ house.address }}</h4>
                        </div>
                    </div>
                    <!-- Price of the house -->
                    <div class="row">
                        <div class="col s12">
                            <h6><span>£</span> {{ house.price }}</h6>
                        </div>
                    </div>
                    <!-- Property type of the house -->
                    <div class="row">
                        <div class="col s12">
                            <h6>{{ house.bedrooms }} Bedroom {{ house.propertyType }} House</h6>
                        </div>
                    </div>
                    <div class="row teal-text text-darken-4 mx-auto center">
                        <!-- Number of bedrooms -->
                        <div class="col s3">
                            <h6>{{ house.bedrooms }}</h6>
                            <span><i class="fa-solid fa-bed fa-lg prefix"></i></span>

                        </div>
                        <!-- Number of bathrooms -->
                        <div class="col s3">
                            <h6>{{ house.bathrooms }}</h6>
                            <span><i class="fa-solid fa-toilet fa-lg prefix"></i></span>

                        </div>
                    </div>
                    <!-- Chain free information -->
                    <div class="row m-2">
                        <div class="col s12">
                            {% if house.chainFree == "yes"%}
                            <p>Chain Free</p>
                            {% else %}
                            <p> Chain </p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="row m-2 center">
                        <!-- View more button -->
                        <div class="col s5">
                            <a href="{{ url_for('view_house', house_id=house._id) }}"
                                class="btn teal darken-2 white-text rounded waves-effect waves-light">View More</a>
                        </div>
                        <!-- Edit button -->
                        <div class="col s5">
                            <a href="{{ url_for('edit_new_house', house_id=house._id) }}"
                                class="btn teal darken-2 white-text icon-right rounded waves-effect waves-light">

                                <i class="material-icons">edit</i>Update
                            </a>

                        </div>
                        <!-- Favourite button -->
                        {% if house.is_favourite == "yes"%}
                        <div class="col s2">
                            <form
                                action="{{ url_for('remove_from_favourites', username=username, house_id=house._id) }}"
                                method="POST">
                                <button class="btn teal darken-2 white-text rounded waves-effect waves-light"><i
                                        class="fa-solid fa-heart"></i></button>

                            </form>
                        </div>
                        {% else %}
                        <div class="col s2">
                            <form action="{{ url_for('add_to_favourites', username=username, house_id=house._id) }}"
                                method="POST">
                                <button class="btn teal darken-2 white-text rounded waves-effect waves-light"><i
                                        class="fa-regular fa-heart"></i></button>
                            </form>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <!-- Delete button -->
                <div class="col s12 m1 right-align">

                    <a class="waves-effect waves-light btn modal-trigger red darken-4 rounded"
                        href="#deleteModal{{house._id}}"><span class="material-symbols-outlined">
                            cancel
                        </span></a>
                </div>
            </div>
        </div>
        <!-- Delete modal -->
        <div id="deleteModal{{ house._id }}" class="modal card-panel rounded white-text center p-5">
            <!-- Modal content -->
            <div class="modal-content rounded">
                <div class="row">
                    <div class="col s12 red-text text-darken-4">
                        <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
                        <h4>Caution</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 black-text">
                        <p> Deleting this house will erase all associated data. Are you sure you want to proceed? Click
                            below to confirm or cancel to preserve data.</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col s12 center">
                        <!-- Delete button to post -->
                        <form action="{{ url_for('delete_house', username=username, house_id=house._id) }}"
                            method="POST">
                            <button class="modal-close btn waves-effect rounded red darken-4 m-2">Delete</button>
                            <!-- Cancel -->
                            <a href="#" class="modal-close btn waves-effect rounded orange m-2">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}