{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Register</h3>
        </div>
    </div>
    
    
    <div class="row p-5">
        <form class="card-panel green lighten-5 col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <!-- name -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-plus prefix green-text text-darken-4"></i>
                    <input id="name" name="name" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                        class="validate" required>
                    <label for="name">Name</label>
                </div>
            </div>
            <!-- username -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-plus prefix green-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                    <small>(Username must be less than 15 characters)</small>
                </div>
            </div>
            <!-- passowrd -->
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="8"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                    <small>(Passwords must be more than 5 characters long and contain alphanumeric(ie. 'abc' and '123'))</small>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m-3">
                    <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                    <input id="confirm_password" name="confirm_password" type="password" minlength="8"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="confirm_password">Confirm Password</label>
                    <small>(Passwords must be the same)</small>
    
                </div>
            </div>
            <!-- register -->
            <div class="row">
                <div class="col s12 center m-4 p-1">
                    <button type="submit" class="btn filled green white-text  rounded waves-effect waves-light">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="green-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}

